<h1>Details of your book</h1>

<div>
    <h3>Title: {{detailsFromBook.title}}</h3>
    <p>{{detailsFromBook.description}}</p>
</div>

<button>
    <a href="/bookdetails/{{detailsFromBook.id}}/edit">Edit Book here</a>
</button>

<form action="/bookdetails/{{detailsFromBook.id}}/delete" method="POST">
    <button type="submit">Delete Book</button>
</form>