<h1>List of books</h1>

{{#each booksFromDb}}

<div>
    <h3>Title: {{this.title}}</h3>
    <p>Author: {{this.author}}</p>
    <a href="/bookdetails/{{this.id}}">See more about...</a>
</div>

{{/each}}